
bukkitWorkspace/.metadata/.log

bukkitWorkspace/.metadata/.log

bukkitWorkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/HL_Plugin01/.indexes/e4/81/4/history.index

bukkitWorkspace/.metadata/.plugins/org.eclipse.core.resources/.projects/HL_Plugin01/.indexes/e4/81/4/history.index

bukkitWorkspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

bukkitWorkspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

bukkitWorkspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

bukkitWorkspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

bukkitWorkspace/.metadata/.plugins/org.eclipse.jdt.core/3081017815.index

bukkitWorkspace/.metadata/.plugins/org.eclipse.jdt.core/3081017815.index

bukkitWorkspace/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

bukkitWorkspace/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

bukkitWorkspace/CraftBukkit 1.6/banned-ips.txt

bukkitWorkspace/CraftBukkit 1.6/banned-ips.txt
